.patientsMainContainer{
  display: flex;
  flex-direction: row;
  flex: 2;
}

.patientsSlideShowContainer{
  display: flex;
  flex-direction: column;
  flex: 1;
}



.mptCard {
  position: relative;
  height : 100%;
  background-color: red;
  margin: 0 20px;
  
}

.mptCardButtons {
  opacity: 0;
  position: absolute;
  height: 100%;
  background-color: #606060;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transition: opacity 0.3s ease-out;
  /*z-index: -100;*/
}

.mptCard:hover .mptCardButtons{
  /*z-index: 2;*/
  /*display: block*/
  opacity: 0.6;
  transition: opacity 0.3s ease-out ;
}